.navbar-1{
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  padding: 10px 0px;
  width: 100%;
  
}
.nav-link-1{
  text-decoration: none;
  color: #7e7e7e;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 13px;
  font-weight: 400;
}
.nav-seperator{
  font-size: 13px;
  font-weight: 100;
  color: #7e7e7e;
}
.navMenu-1{
  display: flex;
}
.middle-title{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #7e7e7e;
}
.nav-span{
  color: #3bb77e;
}
.left-side-nav-1{
  display: flex;
}
.nav-items{
  display: flex;
}
.nav-help-dial{
  display: flex;
  font-size: 13px;
  color: #7e7e7e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-inline: 0.5rem;
}
.need-help{
  margin-right: 0.3rem;
}
.nav-dial{
  color: #3bb77e;
  font-weight: 600;
}
.nav-globe{
  height: 12.26px;
  width: 12px;
  margin-right: 4px;
}
.lang-change, .country-change{
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  font-size: 13px;
  color: #7e7e7e;
}
.left-side-nav-1, .lang-change, .country-change, .middle-title{
  margin-inline: 0.5rem;
}